!!!
%html{:lang => "en"}
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    %link{:href => "/css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/application.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "/js/application.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
    %title
  %body
    = yield